<div class="container">
    <h1 style="color: teal; margin-bottom: 2rem; text-align: center;">Enter your personal information</h1>
        <div class="form-group">
          <label for="fName"><h4>Enter your first name:</h4></label>
          <input type="text" #InputFirstName class="form-control" required placeholder="Enter your first name" id="fName">
        </div>
        <div class="form-group">
          <label for="lName"><h4>Enter your last name:</h4></label>
          <input type="text" #InputLastName class="form-control" required placeholder="Enter your last name" id="lName">
        </div>
        <div class="form-group">
            <label for="age"><h4>Age:</h4></label>
            <input type="number" #InputAge class="form-control" required placeholder="Enter your age" id="age">
          </div>
        <div class="form-group">
            <label for="mobile"><h4>Mobile:</h4></label>
            <input type="number" #InputNumber class="form-control" required placeholder="Enter your Mobile number" id="mobile">
          </div>
        <div class="form-group">
          <label for="email"><h4>Email address:</h4></label>
          <input type="email" #InputEmail class="form-control" required placeholder="Enter email" id="email">
        </div>
        <button style="margin-bottom:5rem;" class="btn btn-primary" (click)="addStudent(InputFirstName.value,InputLastName.value,+InputAge.value,+InputNumber.value,InputEmail.value);InputFirstName.value='';InputLastName.value='';InputAge.value='';InputNumber.value='';InputEmail.value='';">ADD</button>
</div>
<div class="container">
    <div class="card" > 
        <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Mobile Number</th>
                <th>Email</th>
                <th>UpDate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students;let currentIndex=index">
                <td>{{currentIndex +1}}</td>
                <td> {{student.ID}}</td>
                <td>{{student.FirstName}}</td>
                <td>{{student.LastName}}</td>
                <td>{{student.Age}}</td>
                <td>{{student.Mobile}}</td>
                <td>{{student.Email}}</td>
                <td><button  style="margin-right: 0.5rem;" type="button" class="btn btn-danger" (click)="delete(currentIndex)">Delete</button>
                    <button type="button" class="btn btn-danger" (click)="update(currentIndex)" >Edit</button>
                </td>
               
              </tr>
              
            </tbody>
          </table>
      </div>
</div>